<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style type="text/css">
        .loginpage {
            width: 300px;
            height: auto;
            border: 1px solid #ccc;
            background-color:white;
            border-radius:8px;
            margin: 150px auto;

        }
        .title{
            text-align: center;
            margin-top: 100px;
            color: red;
            font-size: 80px;
        }
    </style>
</head>
<body bgcolor="#5e8df8">
<div class="title">
    <p>人脸属性检测</p>
</div>
<div class="loginpage">
    {% if errors %}
        <li>
            {% for error in errors %}
                <p style="color: red;">
                    {{ error }}
                </p>
            {% endfor %}
        </li>
    {% endif %}
    <table align="center">
        <form action="" method="post">{% csrf_token %}

            <tr>
                <td>
                    <label>用户名:</label>
                </td>
                <td>
                    <input type='text' placeholder="输入用户名" name='account'>
                </td>
            </tr>
            <tr>
                <td>
                    <label>密码:</label>
                </td>
                <td>
                    <input type='password' placeholder="输入密码" name='password'>
                </td>
            </tr>

            <tr>
                <td>
                    <input type='submit' placeholder="Login" value="登录">
                </td>
                <td>
                    <a href="/register">没有账号？点击注册</a>
                </td>
            </tr>
        </form>
    </table>
</div>
</body>
</html>
</body>
</html>